*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    background-image: url(a.gif);

}

.dereechos{
    display: flex;
    justify-content: center;
    color: white;
}

ol {
    color: white;
    font-size: 25px;
    font-family: cursive;
    display: flex;
    justify-content: center;
}

.foto {
    display: flex;
    border-radius: 40px;
   justify-content: center;
}

.nav {
    width: 100%;
    z-index: 9999;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: rgb(15, 54, 128);
    align-items: center;
    position: fixed;
    padding: 0 1%;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 1vw;
    list-style: none;
}

ul li {
    font-family: cursive;
    color: aliceblue;
}

ul li:hover {
    background-color: aliceblue;
    color: black;
    transition: all 1s;
}

.header-nav-h1{
    font-size: 2vw;
    font-weight: bold;
    width: auto;
    color: white;
}

.header{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(embape.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 20%; 
    padding: 5vw;
}

#titulo{
    width: 100%;
    text-align: left;
    font-size: 5vw;
    color: aliceblue;
}

.headerDiv{
    width: 100%;
    height: auto;
}

.header-nav-h1:hover {
    background-color: rgb(15, 54, 128);
    transition: all 1s;
    color: black;
}

.ul-links a{
    text-decoration: none;
    color: aliceblue;
}

.aprendiendo-1 {
    color: white;
    font-size: 30px;
    font-family: cursive;
}


.progreso-1 {
    color: white;
    font-size: 35px;
    font-family: cursive;
    background-color: rgb(15, 54, 128);
    display: flex;
    border-radius: 10px;    
    justify-content: center;
}

.estoy-1 {
    color: white;
    font-size: 35px;
    font-family: cursive;
    background-color: rgb(15, 54, 128);
    display: flex;
    justify-content: center;
}

.aprendiendo-2 {
    color: white;
    font-size: 30px;
    font-family: cursive;
    justify-content: center;
    display: flex;
}

.aprendiendo-3 {
    color: white;
    font-size: 30px;
    font-family: cursive;
}

.hobbies {
    color: white;
    font-size: 35px;
    font-family: cursive;
    background-color: rgb(15, 54, 128);
}

.gustos-musicales {
    color: white;
    font-size: 35px;
    font-family: cursive;
    background-color: rgb(15, 54, 128);
    display: flex;
    justify-content: center;
}

.content-aprendido {
    display: flex;
    flex-direction: column;
    margin: 1% 2%;
    gap: 20px;
}

.progress {
    width: 600px;
    height: 30px;
    display: flex;
    justify-content: left;
    padding-left: 5px;
    align-items: center;
    background-color: aliceblue;
    border-radius: 50px;
}

.progress-bar-1 {
    width: 0%;
    overflow: hidden;
    position: absolute;
    height: 17px;
    background-color: rgb(15, 54, 128);
    border-radius: 50px;

    animation: bar-1 3s ease-in 2s 1 normal forwards;
}

@keyframes bar-1 {
    from {
        width: 0px;
    }

    to {
        width: 295px;
    }
}

.progress-bar-2 {
    width: 0%;
    overflow: hidden;
    position: absolute;
    height: 17px;
    background-color: rgb(15, 54, 128);
    border-radius: 50px;

    animation: bar-2 3s ease-in 3s 1 normal forwards;
}

@keyframes bar-2 {
    from {
        width: 0px;
    }

    to {
        width: 200px;
    }
}

.progress-bar-3 {
    width: 0%;
    overflow: hidden;
    position: absolute;
    height: 17px;
    background-color: rgb(15, 54, 128);
    border-radius: 50px;

    animation: bar-3 3s ease-in 4s 1 normal forwards;
}

@keyframes bar-3 {
    from {
        width: 0px;
    }

    to {
        width: 60px;
    }
}
.container-fluid{
    background-color: rgb(15, 54, 128);
}
.navbar-brand{
    color: white;
}
.navbar-togger-icon{
   background-color: white;
}
.card-text{
    color: black;
}
.sobre-mi{
    display: flex;
    justify-content: center;
    background-color: rgb(15, 54, 128);
    color: white;
}
.hobbies{
    background-color: rgb(15, 54, 128);
}
.gustos-musicales{
    background-color: rgb(15, 54, 128);
}
.programador{
    color: white;
}
.asignatura-fav{
    display: flex;
    justify-content: center;
    background-color: rgb(15, 54, 128);
    color: white;
}

.aspiraciones{
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(15, 54, 128);
}
